<!doctype html>
<html lang="en">
  <head>
  	<title>Personal Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/authentication/css/profile.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Your profile</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 d-flex img" style="background-image: url(/static/authentication/images/bg2.jpg);">
							<div class="text w-100">
								<h2 class="mb-4">Welcome to personal settings</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="row justify-content-center py-md-5">
			      		<div class="col-lg-9">
                            {%if error_message%}
			      			<div class="social-wrap">
								<p class="or">
				          		<span>{{error_message}}</span>
				          	</p>
			          	</div> 
                        {%endif%}
									<form action="profile" method="post" class="signup-form">
                                    {% csrf_token %}
										<div class="row">
											<div class="col-md-6">
											<div class="form-group">
							      			<label class="label" for="name">First Name</label>
							      			<input type="text" name="firstname" placeholder="{{firstname}}" class="form-control">
							      		    </div>
											</div>
											<div class="col-md-6">
											<div class="form-group">
							      			<label class="label" for="name">Last Name</label>
							      			<input type="text" name="lastname" placeholder="{{lastname}}" class="form-control">
										    </div>
                                            </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                          <label class="label" for="email">Username</label>
                                          <input type="text" name="username" placeholder="{{username}}" class="form-control">
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                          <label class="label" for="email">Email Address</label>
                                          <input type="text" name="email" placeholder="{{email}} "class="form-control">
                                          </div>
                                        </div>
											<div class="col-md-12">
												<div class="form-group">
						            	<label class="label" for="password" {%if error_message%}style="color:red"{%endif%}>Password</label>
						              <input type="password" name="pass1"  class="form-control">
						                  </div>
											</div>
                                            <div class="col-md-12">
												<div class="form-group">
						            	    <label class="label" for="password">New Password</label>
						                 <input type="password" name="pass2" class="form-control">
						                  </div>
											</div>
                                            <div class="col-md-12">
												<div class="form-group">
						            	    <label class="label" for="password">Confirm New Password</label>
						                  <input type="password" name="pass3" class="form-control">
						                     </div>
											</div>
											<div class="col-md-12 my-4">
												<div class="form-group">
						            	<div class="w-100">
							            	<label class="checkbox-wrap checkbox-primary">I agree all statements in terms of service
														  <input type="checkbox" checked>
														  <span class="checkmark"></span>
														</label>
													</div>
						            </div>
											</div>
                                            <div class="col-md-3">
											</div>
											<div class="col-md-3">
												<div class="form-group">
						            	<button class="btn btn-primary1 submit p-3"><a href="/">Back</a></button>
						            	</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
						            	<input type="submit" name="delete" class="btn btn-primary2 submit p-3" value="Delete">
						           		</div>
											</div>
                                            <div class="col-md-3">
												<div class="form-group">
						            	<button type="submit" class="btn btn-primary submit p-3">Save</button>
						            </div>
											</div>
										</div>
				          </form>
				          <div class="w-100">
										<p class="mt-4">I'm already a member! <a href="login">Sign In</a></p>
				          </div>
                        </div>
			      		</div>
			      	</div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/profile/js/jquery.min.js"></script>
  <script src="/static/profile/js/popper.js"></script>
  <script src="/static/profile/js/bootstrap.min.js"></script>
  <script src="/static/profile/js/main.js"></script>

	</body>
</html>

